<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<table>
	<tr ng-repeat="job in jobs">

	<td ng-if="currentUser.role=='Student' || currentUser.role=='Employee' || currentUser.role=='Alumini' " ng-show="job.active">{{job.jobTitle}}</td>

	<td ng-if="currentUser.role=='admin'">{{job.jobTitle}}</td>
	</tr>

	</table>


Description : {{job.jobDescription}}<br>
	<b>Skills Required</b> :{{job.skillsRequired}}<br>
	<b>location</b>:{{job.location}}<br>
	<b>Years Of Experience</b>{{job.yrsOfExp}}<br>
	<b>Company</b>{{job.company}}<br>
	<b>Posted On</b>{{job.postedOn | date:'yyyy:MM:dd'}}<br>
	<b>Skills Required</b>{{job.skillsRequired}}<br>
	<b ng-show="currentUser.role=='Admin'">Active:</b>
	<b ng-if="job.active">YES</b>
	<b ng-if="!job.active">NO</b>

	</body>
</html>