<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<style>table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}
tr:hover {background-color: #f5f5f5}
tr:nth-child(even){background-color: #f2f2f2}
th {
    background-color: #4CAF50;
    color: white;
}
</style>
</head>
<body>
<body><div class="container">
<div><center><h2>List of friend Request</h2></center></div>
<table>
<tr><th>Username</th><th>Accept</th><th>Deny</th></tr>
<tr ng-repeat="p in pendingLists">
<td>
{{p.from}}
</td>
<td> <a href="" ng-click="updatependingrequest(p.from,'A')"  class="btn btn-xs btn-default">accept</a>
</td>
<td> <a href="" ng-click="updatependingrequest(p.from,'D')"  class="btn btn-xs btn-default">Deny</a>
</td>
</tr>
</table>
</div> 
</body>
</html>